<head>
    <title>{{ play_name }} — TDZ&trade; AceTV</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="src/css/style.css"/>
</head>

<body>
    <div class="container-fluid">
        <section class="banner embed-responsive-item">
            <video id="video" class="hidden-sm-down" height="98%" width="98%" autoplay controls playsinline></video>
            <div class="sidebar">
              <div class="header">
                <h4 class="manifest" data-clipboard-text="{{ play_link }}" title="Click to copy manifest URL">{{ play_name }}</h4>
                <h6 class="search-title">Available channels ({{ channels | length }})</h6>
                <form action="?=play method="post">
                  <input id="search" type="text" placeholder="Search/AceID" tabindex="1" name="play"/>
                </form>
              </div>
              <ul id="channelContainer">
                {% for channel in channels %}
                <li class="{%if play==channel.url %}active{% endif %}">
                    <div class="channelRow">
                        <a class="channelLink" href="?play={{ channel.url }}" tabindex={{ loop.index + 2 }}>{{ channel.name }}</a>
                    </label>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div id="playLink" class="hidden">{{ play_link }}</div>
        </section>
    </div>
    <!-- hls, script.js-->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="src/js/script.js"></script>
</body>
